.DS_Store
Thumbs.db
node_modules/
.vscode/
.idea/
target/
*.log
tomcat.8080/
src/main/resources/db.properties
nb-configuration.xml
src/main/webapp/assets/uploads/**
!src/main/webapp/assets/uploads/**/.gitkeep
